<div class="row">
    <div class="row-fluid">
        <div class="offset1 span10 current-weather">
            <img src="" id="weather-icon">
            <div class="row temperature">
                <h1 id="current-temperature">Loading</h1>
            </div>
            <div class="row location">
                <h1 id="current-location"></h1>
            </div>
            <div class="row">
                <ul class="offset2 forecast">
            </div>
        </div>
    </div>
<div>