// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #fff;
  margin: 0 auto;
  width: 800px;
}

.cold { background-color: #3498db }
.cool { background-color: #2980b9 }
.fine { background-color: #27ae60 }
.warm { background-color: #f1c40f }
.hot  { background-color: #e67e22 }

.current-weather {
  height: 300px;
  text-align:center;

  .temperature {
    padding-top: 40px;
    h1 { font-size: 80px; }
  }

  .location { padding-top: 30px; }
}

.forecast { 
  padding-top: 30px;

  .forecast-item {
    text-align: center;

    .forecast-icon {
      width: 60px;
      height: 70px;
      margin: 0 auto;
    }
  }
}


